.boost-pricing {
  background-color: var(--bg-main);
  padding: 4rem 2rem;
  text-align: center;
  font-family: var(--font-family-main);
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  background-color: var(--bg-accent);
  color: var(--text-light);
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.6rem;
  margin: 1rem 0;
  font-weight: bold;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  text-align: left;
}

.card ul li {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.cta-btn {
  background-color: var(--color-white);
  color: var(--color-red);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-btn:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

/* ===== Media Queries for Responsive Design ====== */

/* Adaptation for screens of 450px and less */

@media (max-width: 450px) {
  .pricing-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 2rem;
  }
}
