.services-intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  padding: 20px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 40px 40px;
}

.services-intro-section img {
  width: 400px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.services-intro-section h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--color-red);
}

.services-intro-section p {
  font-size: 1.1rem;
  line-height: 1.3;
  color: var(--color-black);

  font-family: var(--font-family-code);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.services-intro-section h2 i {
  color: var(--color-dark-blue);
}

.services-intro-section q {
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--color-dark-red);
  font-style: italic;
  font-family: var(--font-family-code);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

/* Services section styles */

.services-section {
  background-color: var(--color-white);
  padding: 20px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 20px 40px;
}

.services-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--color-red);
}

.services-section q {
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--color-dark-red);
  font-style: italic;
  font-family: var(--font-family-code);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
}

.services-item {
  background-color: var(--color-light-gray);
  padding: 20px;
  border-radius: 5px;
}

.services-item a {
  text-decoration: none;

  transition: color 0.3s ease, transform 0.3s ease;
  padding: 10px 10px;
  border-radius: 5px;
}

.services-item a:hover {
  color: var(--color-blue);
  /* draw a line under the text on hover */
  text-decoration: underline;
  transform: scale(1.1);
}

.services-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--color-red);
}

/* ===== Media Queries for Responsive Design ====== */

/* Adaptation for screens of 450px and less */

@media (max-width: 450px) {
  .services-intro-section {
    margin: 20px;
    padding: 10px;
  }

  .services-intro-section img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .services-intro-section h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .services-intro-section p {
    font-size: 1rem;
    line-height: 1.3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .services-section {
    margin: 20px;
    padding: 10px;
  }

  .services-grid {
    grid-template-columns: 1fr; /* One column layout */
    gap: 10px; /* Reduced gap between items */
  }
  .services-item {
    padding: 10px;
  }
  .services-item a {
    padding: 5px 5px;
  }
  .services-item h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .services-item p {
    font-size: 0.9rem;
    line-height: 1.2;
  }
  .services-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .services-item a:hover {
    transform: scale(1.05); /* Slightly smaller scale on hover */
  }
  .services-item a:hover {
    color: var(--color-blue);
    text-decoration: underline;
  }
}

/* adaptation for screens between 450px and 810px */

@media (min-width: 450px) and (max-width: 810px) {
  .services-intro-section {
    margin: 20px;
    padding: 10px;
  }

  .services-intro-section img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .services-intro-section h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .services-intro-section p {
    font-size: 1rem;
    line-height: 1.3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
}
